* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    caret-color: transparent;
    --webkit-font-smoothing: antialiased;
    --moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    
    --bg-color: hsla(0, 0%, 100%, 1);
    
    --text-color: hsla(240, 6%, 21%, 1);
    --button-text-color:  hsla(240, 6%, 21%, 1);
    
    --card-color: hsla(240, 9%, 89%, 1);
    --icon-second-color: hsla(0, 0%, 100%, 1);
    --card-second-color: hsla(194, 97%, 31%, 1);
}

html.dark body {
    --bg-color: rgb(19, 19, 20);
    --text-color: hsla(0, 0%, 100%, 1);
    --button-text-color:  hsla(240, 6%, 21%, 1);
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: var(--bg-color);
}

.dark .ph-moon,
html:not(.dark) .ph-sun,
.running .ph-play,
html:not(.running) .ph-pause {
    display: none;
}

button {
    cursor: pointer;
}

#toggle-mode {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 4rem;

    background-color: transparent;
    border: 0;

    color: var(--text-color);
}

#toggle-mode:hover {
    scale: 1;
}

.flex {
    display: flex;
    align-items: center;
}

#app {
    gap: 10rem;
}

#main {
    flex-direction: column;
    gap: 1rem;
}

#timer { 
    max-width: 38rem;
    font-family: 'Roboto';
    font-size: 12.6rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

#controls-timer {
    width: 100%;
    justify-content: space-between;
}

#controls-timer button {
    width: 4.8rem;
    height: 4.8rem;
    
    background: white;
    border: 3px solid var(--text-color);
    border-radius: 50%;
    
    font-size: 2.5rem;
    color: var(--button-text-color);
}

#controls-sound {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
}

#controls-sound button {
    width: 13.8rem;
    height: 15.2rem;

    font-size: 5.6rem;

    border-radius: 2.4rem;
    border: none;
}

.forest-sound #controls-sound > button:nth-child(1),
.rain-sound #controls-sound > button:nth-child(2),
.coffee-shop-sound #controls-sound > button:nth-child(3),
.flame-sound #controls-sound > button:nth-child(4) {
    background: var(--card-second-color);
    color: var(--icon-second-color);
}


button:hover {
    scale: 1.2;
    background-color:  rgb(171, 195, 202);
    color: #ffffff;
    transition: .2s ease-in;
}

button {
    transition: .2s ease-in;
}

@media (max-width: 900px) {
  
    #app {
        flex-direction: column;
        gap: 4rem;
    }
    
   
    #toggle-mode {
        top: 2rem;
        right: 2rem;
        font-size: 3rem;
    }

    #controls-sound button {
        width: 13rem;
        height: 15rem;
    }
}

@media (max-height: 675px) {

    #main {
        max-width: 20rem;
        gap: 0;
    }

    #timer { 
        font-size: 8rem;
    }

    #controls-timer {
        gap: 0;
        justify-content: space-between;
    }

    #controls-timer button {
        width: 4rem;
        height: 4rem;
        font-size: 1.5rem;
        border: 2px solid;
    }
    
   
    #toggle-mode {
        top: 2rem;
        right: 2rem;
        font-size: 3.5rem;
    }

    #controls-sound button {
        width: 13rem;
        height: 15rem;
    }
}